.container {
  width: 60%;
  margin: auto;
  text-align: center;
}

.dice {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  display: inline-block;

}

body {
  background-color: #F0DE36;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #b4bcc5;
  font-size: 7rem;
  color: #0D1282;
}

h3 {
  margin-top: 20px;
  font-family: 'Indie Flower', cursive;
  text-shadow: 5px 0 #b4bcc5;
  font-size: 4rem;
  color: #0D1282;
}

p {
  margin-bottom: 5px;;
  font-size: 2rem;
  color: #0D1282;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: -20px;
  font-size: 1rem;
  color: #0D1282;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.refresh-button {
  margin-top: 20px;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #70050b 5%, #f24437 100%);
	background-color:#963d3d;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	padding:9px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.refresh-button:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.refresh-button:active {
	position:relative;
	top:1px;
}

@media (max-width: 500px){
  .img{
    width: 100%;
  }
  h1 {
    font-size: 5.5rem;
  }
  footer {
    margin: 20px;
    font-size: 1.5rem;
  }
}
